*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    border: 2px solid green;
    height: 400px;
    /* display: inline, inline-block, block, flex */
    display: flex;
    /* flex-direction: row, row-reverse, column, column-reverse; */
    flex-direction: row;
    /* flex-wrap: wrap; */
    flex-wrap: wrap;
    /* row-gap: 2px; */
    gap: 10px;
    /* short hand of flex-direction and flex-wrap -> flex-flow: row wrap */
    /* justify-content: flex-start, flex-end, center, space-between, space-around, space-evenly */
    justify-content: space-between;
    /* align-items: flex-start, flex-end, center, stretch(default) */
    align-items: flex-start;
    /* align-content: flex-start, flex-end, center, stretch(default) */
    align-content: space-between;
}

.box{
    border: 2px solid rgb(246, 3, 84);
    /* margin: 10px 0; */
    /* width: 80px; */
    flex-basis: 25%;
}

#box-1{
    flex-grow: 0;
    flex-shrink: 0;
}

#box-2{
    flex-grow: 1;
    flex-shrink: 1;
}

#box-3{
    flex-grow: 2;
    flex-shrink: 2;
}