.container{
    height: 600px;
    width: 600px;
    background-color: chartreuse;
    margin: 100px;
}

.box{
    color:white;
    height: 100px;
    width: 100px;
}

.sta{
    position: static;
    background-color: black;
}

.rel{
    position: relative;
    background-color: rgb(201, 39, 39);  
}

.abs{
    background-color: rgb(244, 28, 172);
}   

.fix{
    background-color: rgb(111, 12, 231);
}

.sti{
    background-color: rgb(0, 140, 255);
}