main{
    /* solid, dotted, dashed, double */
    border:4px solid black;
    /* border-radius: 5px; */
    width: 50%;
    height: 300px;
    
}

section{
    border: 2px dashed rgb(255, 0, 212);
    width: 50%;
    height: 210px;
}

h2{
    font-size:larger;
    color:aqua;
    background-color: black;
}