*{
    margin : 0;
    padding : 0;
    /* The box-sizing CSS property sets how the total width and height of an element is calculated. */
    box-sizing : border-box;
}

html{
    background-color: #ffffff;
    color: #555;
    font-family: sans-serif;
    font-size: 20px;
    /* The text-rendering CSS property provides information to the rendering engine about what to optimize for when rendering text. */
    /* to increase the speed of rendering */
    text-rendering: optimizeLegibility;
}

.row{
    max-width: 1140px;
    /* margin upand down = 0 and left and right = auto */
    margin: 0 auto;
}

header{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('img/hero-image.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.hero-text-box{
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    /* CSS me transform ek tarah ka magic tool hai jo element ko move, rotate, scale ya skew karne ke kaam aata hai
    */

    /* -50% X‑axis (left/right) par → element ko uski apni width ka aadha left side me khiska deta hai.
    -50% Y‑axis (up/down) par → element ko uski apni height ka aadha upar khiska deta hai
    */

    transform: translate(-50%, -50%);
}

h1{
    margin: 0 0 20px 0;
    padding: 0;
    color: #fff;
    font-size: 240%;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
}

.btn:link,
.btn:visited{
    display: inline-block;
    padding: 10px 30px;
    text-decoration: none;
    font-weight: 300;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link, 
.btn-full:visited{
    background-color: #e67e22;
    color: #fff;
    border: 1px solid #e67e22;
    margin-right: 25px;
}

.btn-ghost:visited,
.btn-ghost:link{
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active{
    background-color: #cf6d17;
    color: #e67e22
}

.btn-ghost:hover,
.btn-ghost:active{
    border: 1px solid #cf6d17;
    color: #fff;
}

.logo{
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.main-nav{
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li{
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
}

.main-nav li a:link,
.main-nav li a:visited{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active{
    border-bottom: 2px solid #e67e22;
}

.span-4-of-4{
    width: 100%;
}

.span-3-of-4{
    width: 74.6%;
}

.span-2-of-4{
    width: 49.2%;
}

.span-1-of-4{
    width: 23.8%
}

section{
    padding: 80px 0;
}

h2{
    font-weight: 300px;
    text-transform: uppercase;
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
}

h2:after{
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
    letter-spacing: 1px;
}
.long-copy{
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
}

.box{
    padding: 1%;
}

h3{
    font-weight: 300;
    text-transform: uppercase;
    font-size: 110%;
    margin-bottom: 15px;
}

.box p{
    font-size: 90%;
    line-height: 145%;
}

.icon-big{
    font-size: 350%;
    display: block;
    color: #e67e22;
    margin-bottom: 10px;
}

meal-showcase{
    list-style: none;
    width: 100%;
}

.meals-showcase li{
    display: block;
    float: left;
    width: 25%;
}

.meal-photo{
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000;
    transition: transform 0.5s, opacity 0.5s;
}

.meal-photo img{
    width: 100%;
    height: auto;
    transform: scale(1.15);
    opacity: 0.7;
}

.meal-photo img:hover{
    transform: scale(1.03);
    opacity: 1;
}

.section-meals{
    padding: 0;
}

.section-features .long-copy{
    margin-bottom: 30px;
}

.works-step{
    margin-bottom: 50px;
    margin-right: 25px;
}

.steps-box:first-child{
    text-align: center;
    padding-right: 3%;
    margin-top: 30px;
}

.step-box:last-child{
    padding-left: 3%;
    margin-top: 70px;
}

.app-screen{
    width: 20%;
}

.works-step div{
    color: #e67e22;
    border: 4px solid #e67e22;
    display:inline-block;
    border-radius: 50%;
    height: 55px;
    width: 55px;
    text-align: center;
    padding: 5px;
    float: left;
    font-size: 150%;
    margin-right: 25px;
}

.btn-app img{
    height: 50px;
    width: auto;
    margin-right: 10px;
}

.works-step:last-of-type{
    margin-bottom: 80px;
}

.section-works{
    background-color: #f4f4f4;
}